data/cdl_west.tif
.Rproj.user
.Rhistory
data/ESU_hucdata/attribute_description.txt
data/ESU_hucdata/huc6_esu-withadds-ver5-alb27.dbf
data/ESU_hucdata/huc6_esu-withadds-ver5-alb27.prj
data/ESU_hucdata/huc6_esu-withadds-ver5-alb27.sbn
data/ESU_hucdata/huc6_esu-withadds-ver5-alb27.sbx
data/ESU_hucdata/huc6_esu-withadds-ver5-alb27.shp
data/ESU_hucdata/huc6_esu-withadds-ver5-alb27.shx
data/ESU_hucdata.zip
data/data.zip
data-nogit
cdl_west.tif
